html, body {
    scroll-behavior: smooth;
}
body{
    background-color: #d9dee0;
    font-family: 'Raleway', sans-serif;
}
main{
    display: grid;
    grid-template-areas: 
    "container container"
    "obraz     article"
    "gallery   gallery"
    "rytual    rytual"
    "cennik    cennik"
    "footer    footer";
    grid-template-columns: 50% 50%;
}
header{
    background-image:url(saunainside.jpg);
    width:100%;
    height:1000px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -150px;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: "nav .";
    grid-area: container;
}
#logo{
    position:absolute;
    top:30px;
    right:30px;
} 
#logo img{
    height:200px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-area:nav;
    background-color: rgba(0, 0, 0, 0.7);
    padding:200px 0;
}
nav a{
    font-size: 1.3em;
    text-decoration: none;
    color:#d9dee0;
    border:2px solid rgba(161, 111, 90, 0.8);
    padding:20px;
    margin:20px;
    width:40%;
    text-align: center;
    text-transform: uppercase;
}
nav a:hover{
    background-color:rgba(161, 111, 90, 0.8);
}


#obraz{
    grid-area: obraz;
    padding:50px 0 50px 100px;
}
#obraz img{
    width:100%; 
}
#nordicspa{
    grid-area: article;
    text-align:justify;
    padding:50px 100px 50px 50px;
    color: #5d7c84;
    display:flex;
    align-items: center;
    font-size:1.4em;
}
#nordicspa h1{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #5d7c84;
}

#gallery{
    grid-area: gallery;
    background-color:#5d7c84;
    display: grid;
    padding:100px 200px;
    grid-template-columns: 50% 50%;
    color: #422e28;
}
#gallery img{
    width:100%;
    float:left;
}
#i3 a{
    color: #422e28;
    text-decoration: none;
}
.info{
    background-color:#d9dee0;
    font-size: 1.4em;
    display: flex;
    align-items:center;
    position:relative;
}
.info p{
    margin:70px;
}
.info .name{
    position:absolute;
    top:1px;
    right:15px;
    margin:3px;
    font-size:4em;
    font-weight: 900;
    text-transform: uppercase;
    color:rgba(161, 111, 90, 0.5);
}


#rytual{
    grid-area: rytual;
    display:flex;
    justify-content: space-around;
}
#rytual img{
    width:40%;
    margin:100px;
}
#rytual ul{
    margin:20px;
    align-self:center;
    font-size:1.3em;
    color:#5d7c84;
    line-height: 150%;
    font-weight: bolder;

}


#cennik{
    color:#d9dee0;
    font-size: 1.4em;
    padding: 100px;
    background-image: url(sauna.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
    grid-area:cennik;
}
#c1{
    background-color:rgba(0, 0, 0, 0.8);
    max-width:40%;
    padding:20px 50px 50px 50px;
}
#cennik h1{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #d9dee0;
    
}
#cennik table{
    margin:0 auto; 
}
#cennik td{
    border-bottom:2px solid #d9dee0;
    padding:20px;
}






#reservation_button{
    font-size:1em;
    width:120px;
    padding:10px 0;
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:rgba(0, 0, 0, 0.7);
    border:2px solid rgba(161, 111, 90, 0.8);
    text-align: center;
}
#reservation_button a{
    text-decoration: none;
    color:#d9dee0;
    text-transform: uppercase;
}
#reservation_button:hover{
    background-color:rgba(161, 111, 90, 0.5); 
}



footer{
    grid-area: footer;
    text-align: center;
    color:#5d7c84;
    display:grid;
    grid-template-columns:1fr 1fr 0.6fr 0.7fr 1fr;
    font-size:14px;
}
 footer div{
    width:auto;
    text-align: left;
    margin:5px;
}
footer img{
    width:80%;
}
footer h1{
    text-transform: uppercase;
    font-size:1.3em;
}
footer p{
    line-height: 60%;
}
footer a{
    text-decoration: none;
    color:#5d7c84;
}
#f1{
    margin:10px;
}
#f6{
    text-align:center;
}

.font{
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width:409px) {
    main{
        font-size:12px;
    }
}

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px){ 
    main{
        grid-template-areas: 
        "container"
        "article"
        "gallery"
        "rytual"
        "cennik"
        "footer";
        grid-template-columns: 100%;
        font-size:13px;
    }
    header{
        background-size: 1200px;
        height:100%;
        background-position-y: -70px;
        grid-template-columns: 100%;
        grid-template-areas: "nav";
    }
    #logo{
        text-align:center;
        right:0px;
        width:100%;
        height:auto;
    }
    #logo img{
        height:100px;
        filter: brightness(600%);
    }
    nav{
        padding:150px 0 50px 0;
    }
    #obraz{
        display:none;
    }
    #nordicspa{
        padding:20px 40px;
    }

    #gallery{
        display: grid;
        padding:20px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "p1"
        "i1"
        "p2"
        "i2"
        "p3"
        "i3";
    }
    #p1{
        grid-area:p1;
    }
    #i1{
        grid-area:i1;
    }
    #p2{
        grid-area:p2;
    }
    #i2{
        grid-area:i2;
    }
    #p3{
        grid-area:p3;
    }
    #i3{
        grid-area:i3
    }
    .info{
        font-size:1.4em;
    }
    .info p{
        margin:80px 10px 10px 10px;
        text-align: justify;
    }
    .info .name{
        top:0;
        right:0;
        margin:3px;
        font-size:3em;
    }

    #rytual{
        flex-wrap: wrap;
    }
    #rytual img{
        width:100%;
        margin:0;
        padding:20px 10px;
    }
    #rytual ul{
        margin:20px 10px;
        font-size:1.4em;
    }
    #cennik{
        font-size:1.2em;
        padding:0px;
        background-size: 600px;
        background-position-x: center;
    }
    #cennik td{
        padding:15px;
    }
    #c1{
        max-width:100%;
        padding:10px 25px 25px 25px;
    }
    footer{
        grid-template-columns:1fr;
        font-size:1.2em;
    }
    footer div{
        text-align:center;
    }
    #f1{
        display:none;
    }
    #f6 p{
        line-height: 100%;
    }
    #partners{
        margin-top: 40px;
    }
}
@media only screen and (min-width: 600px) and (max-width:850px){
    footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr auto;
    }
    #f5{
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    #f1{
        grid-column-start:1;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    #f3{
        grid-column-start:2;
        grid-row-start:3;
    }
    #f4{
        grid-column-start:2;
        grid-row-start:2;
    }
    #partners{
        margin-top: 40px;
    }
    #c1{
        max-width:60%;
        margin:0 auto;
        padding:10px 25px 25px 25px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:1199px)  {
    main{
        grid-template-areas: 
        "container"
        "article"
        "gallery"
        "rytual"
        "cennik"
        "footer";
        grid-template-columns: 100%;
        font-size:14px;
    }
    header{
        background-size: 1200px;
        height:100%;
        background-position-y: -70px;
        grid-template-columns: 100%;
        grid-template-areas: "nav";
    }
    #logo{
        text-align:center;
        right:0px;
        width:100%;
        height:auto;
    }
    #logo img{
        height:100px;
        filter: brightness(600%);
    }
    nav{
        padding:150px 0 50px 0;
    }
    #obraz{
        display:none;
    }
    #nordicspa{
        padding:20px 40px;
    }

    #gallery{
        display: grid;
        padding:70px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "p1"
        "i1"
        "p2"
        "i2"
        "p3"
        "i3";
    }
    #p1{
        grid-area:p1;
    }
    #i1{
        grid-area:i1;
    }
    #p2{
        grid-area:p2;
    }
    #i2{
        grid-area:i2;
    }
    #p3{
        grid-area:p3;
    }
    #i3{
        grid-area:i3
    }
    .info{
        font-size:1.4em;
    }
    .info p{
        margin:80px 10px 20px 10px;
        text-align: justify;
    }
    .info .name{
        top:0;
        right:0;
        margin:3px;
        font-size:3em;
    }

    #rytual{
        flex-wrap: wrap;
    }
    #rytual img{
        width:100%;
        margin:0;
        padding:20px 10px;
    }
    #rytual ul{
        margin:20px 10px;
        font-size:1.4em;
    }
    #cennik{
        font-size:1.2em;
        padding:0;
    }
    footer{
        font-size:0.9em;
    }
    #f6{
        grid-column-start: 1;
        grid-column-end:6;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:1199px) {
    main{
        font-size:14px;
    }
    header{
        height:100%;
        background-size:1200px;
        grid-template-columns: 50% 50%;
    }
    #logo img{
        height:150px;
        position:absolute;
        top:30px;
        right:30px;
        filter: brightness(100%);   
    } 
    nav{
        padding:100px 0;
    }
    nav a{
        padding:15px;
        margin:15px;  
    }
    #nordicspa{
        padding:50px;
    }
    #gallery{
        padding:100px;
    }
    #rytual img{
        width:80%;
    }
    #cennik{
        padding:50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1199px) {
    main{
        grid-template-areas: 
    "container container"
    "obraz     article"
    "gallery   gallery"
    "rytual    rytual"
    "cennik    cennik"
    "footer    footer";
    grid-template-columns: 50% 50%;
    font-size:14px;
    }
    #obraz{
        display:block;
        padding:25px 0 25px 50px;
    }
    #rytual img{
        min-width:50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px)/* and (max-width:1550px)*/ { 
    main{
        font-size:15px;
        max-width:1400px;
        margin:0 auto;
    }
    header{
        width:100%;
        height:100%;
        position:relative;
        
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        grid-area:nav;
        background-color: rgba(0, 0, 0, 0.7);
        padding:90px 0;
    }
    #gallery{
        padding:100px;
    }
    #rytual img{
        margin:50px 0;
        min-width:50%;    
    }
    
    .info .name{
        top:0;
        right:0;
        margin:3px;
        font-size:3em;
    }
    #cennik{
        font-size:1.2em;
    }
    footer{
        font-size:14px;
    }
    #f6{
        grid-column-start: 1;
        grid-column-end:6;
    }
}


